* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
main {
	margin-top: 1rem;
}
.container {
	max-width: 768px;
	margin: 0 auto;
}
.timer {
	background: black;
	border-radius: 4px;
	padding: 2rem;
	height: 500px;
}
.timer__header {
	height: 10%;
	text-align: center;
	color: white;
	text-decoration: underline;

}
.timer__body {
	height: 58%;
	/* margin-top: 6rem; */
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.timer__footer {
	height: 32%;
}
.timer__footer .input {
	height: 100%; 
	display: flex;
	align-items: center;
	justify-content: center;
}
.timer__footer input[type="text"] {
	width: 40%; 
	padding: 10px 10px ;
	border-radius: 10px; 
	border: none; 
}
.timer__day,
.timer__hour,
.timer__min,
.timer__sec {
	font-size: 3rem;
	text-align: center;
	color: white;
	border-radius: 50%;
	border: 2px dashed white;
	padding: 2rem;
}
.timer__label {
	color: white;
	text-align: center;
	margin-top: 1rem;
	font-weight: bold;
	text-transform: uppercase;
}
